*~
*#
.DS_Store
.project
.settings
.classpath
.metadata
*.o
*.a
*.pyc
*.err
*.log
.lock-waf*
.waf-*
.waf3-*
build
waf_xcode.sh
exp
src/tests/combinations
params_*
benchmark_results
__pycache__
.vscode

# Ignored folders for the documentation
_build
doxygen_doc
docs/defaults.rst

# Ignored folders/files of the paper
paper.pdf
paper.xml
